<html>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    nav {
        margin: 10px;
    }

    nav p {
        margin: 0
    }

    .title {
        text-decoration: none;
        color: black;
    }
</style>
<nav>
    <div style="display: flex;">
        <a href="/" class="title">Pietro Bongiovanni</a>
        <p style="flex-grow: 1;"></p>
        <a href="/listing.html" style="text-align: right;">Blog</a>
    </div>
</nav>



<body>
    <div style="margin-left: auto; margin-right: auto; width: max-content;">
        <p>Just HTML website.</p>
    </div>
</body>

</html>